<div class="create-nft">
  <h3>Create Item</h3>
  <div id="upload-box" class="upload-box">
    <label for="file-input" class="upload-label">
      <span class="upload-title">Upload File</span>
      <br>
      <span class="upload-requirements">Max size 100Mb, file format: PNG, GIF, JPG, MP4, WEBP, MP3</span>
      <br>

      <div class="file-upload">
        <label for="file-input" class="file-label">Drop file here or <span id="choose-file">choose from disk</span></label>
        <input id="file-input" type="file" hidden accept=".png, .gif, .jpg, .mp4, .webp, .mp3">
      </div>
      </label>
</div>
  <div class="item-details">
    <div class="item-name">
        <span class="i-name-title">
          Item Name
        </span>
      <br>
      <input type="text" placeholder="Type here" class="input-item"
      id="name-input">
    </div>
    <div class="item-category"><span class="i-category-title">
          Category
        </span>
      <br>
      <select class="select-category">
        <option value="" disabled selected hidden>Select one</option>
        <option value="option1" class="option-category" id="1">Collectibles</option>
        <option value="option2" class="option-category" id="2">Games</option>
      </select>
    </div>
    <div class="item-type">
      <span class="i-type-title">
          Item Type
      </span>
      <br>
      <select class="select-category">
      <option value="" disabled selected hidden>Select one</option>

    </select>
    </div>
    <div class="item-price"><span class="i-price-title">
          Price
        </span>
      <input type="number" placeholder="Set price" class="input-item"
             id="price-input">
    </div>
  </div>
</div>

