body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #090b0d;
  overflow: hidden;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
