<div class="sidebar">
    <div class="links">
      <li class="logreg"><a routerLink="login-register/login" routerLinkActive="active">Login/Register</a></li>
      <li class="nfts"><a routerLink="/nfts" routerLinkActive="active">NFT's</a></li>
      <li class="profile"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li class="mynfts"><a routerLink="/my-nfts" routerLinkActive="active">My NFT's</a></li>
      <li class="createnft"><a routerLink="/create-nft" routerLinkActive="active">Create NFT</a></li>
    </div>
    <div class="sidebar-inner"></div>
</div>
