@import url('https://fonts.cdnfonts.com/css/jura');

body {
  background: #090B0D;
  width: 100%;
  margin: 0px;
  background-image: url('gradient.png');
  background-size: cover;
  font-family: Jura, sans-serif;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.005em;
  overflow-x:hidden;
}


